/* Navigation Bar */
nav{
  margin:0;
  padding:0;
  text-align:center;
}
.nav-items .nav-link{
  list-style-type: none;
  margin: 25px;
  padding: 0;
  display: inline;
  color:#ffffff;
}
.nav a {
  display:inline-block;
  padding:0;
}

/*Hero Image */
.hero{
  /* The hero image */
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/backgrounds/hero/hero_2000x1333.png");
  height: 45%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Headings */
h1{
  text-align:center;}
h2{
  text-align:center;}
/* Our Services */
.services table {
  display:flex;
  align-content:center;
  justify-content:center;
  margin: 10px;
}
