/* Navigation Bar */
nav{
  margin:0;
  padding:0;
  text-align:center;
}
.nav-items .nav-link{
  list-style-type: none;
  margin: 25px;
  padding: 0;
  display: inline;
  color:#ffffff;
}
.nav a {
  display:inline-block;
  padding:0;
}

/*Hero Image */
.hero{
  /* The hero image */
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/backgrounds/hero/andrea-donato-MNu0n-3BIKs-unsplash.jpg");
  height:450px;
  width:100%;
  margin-top:0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;



  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
}

.hero h2{
  padding-top:20px;}

/* Headings */
h1{
  text-align:center;
  position:relative;}
h2{
  text-align:center;}
#ourservices_h2{
  color:white;
  margin-top:0;
}

/* Our Services */
.services{
  background-color:black;
}
.services table {
  display:flex;
  align-content:center;
  justify-content:center;
  color:white;
}
tr {
  margin-bottom:10px;
  color:white;
}
td{
  margin-right:25px;
  text-align:center;
  color:white;
}

/*Location & Hours */
.location-hours{
  display:flex;
  justify-content:center;}
#right_side_LH{
  display:flex;
  flex-direction:row;
  margin-left:10px;
}
#hours{
  margin-left:20px;
  display:flex;
  flex-direction:column;
}
#location{
  display:flex;
  flex-direction:column;
}

/* Our Staff */
.our-staff{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 0px;
  }

  #holly { grid-area: 1 / 1 / 2 / 2; }
  #penni { grid-area: 1 / 2 / 2 / 3; }
  #sean { grid-area: 1 / 3 / 2 / 4; }
  #kendra { grid-area: 1 / 4 / 2 / 5; }

}

/*Keeping Mansfield */

.keeping_mansfield{
  background-color:black;
  color:white;

}
